In [1]:
import pandas as pd
import numpy as np
import pycountry

In [12]:
df_qs = pd.read_excel('qs_ranking.xlsx')
df_qs

,排名,大学名称,详情链接,所处国家,综合得分,学术声誉,雇主声誉,师生比,每位教员引用率,国际教师占比,国际学生占比,国际研究网络,就业结果,可持续性
0,1,麻省理工学院,https://www.qschina.cn/universities/massachuse...,United States,100,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2
1,2,剑桥大学,https://www.qschina.cn/universities/university...,United Kingdom,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3
2,3,牛津大学,https://www.qschina.cn/universities/university...,United Kingdom,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8
3,4,哈佛大学,https://www.qschina.cn/universities/harvard-un...,United States,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7
4,5,斯坦福大学,https://www.qschina.cn/universities/stanford-u...,United States,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,975,新英格兰大学,https://www.qschina.cn/universities/university...,Australia,-,10.9,6.3,2.3,25.4,2.9,5.5,8.1,9.1,14.5
996,975,巴基斯坦白沙瓦大学,https://www.qschina.cn/universities/university...,Pakistan,-,6.0,9.0,36.0,17.4,NaN,2.0,3.7,5.9,1.2
997,975,首尔市立大学,https://www.qschina.cn/universities/university...,South Korea,-,12.1,10.0,37.2,8.2,3.2,5.8,1.3,9.2,1.4
998,975,西开普大学,https://www.qschina.cn/universities/university...,South Africa,-,8.4,7.8,4.2,15.1,26.4,4.0,40.5,11.7,4.9
999,975,图卢兹第一大学,https://www.qschina.cn/universities/universite...,France,-,14.0,3.0,1.5,5.4,29.4,52.3,13.6,6.4,1.0

In [13]:
# 先将Taiwan, Hong Kong SAR, Macau SAR, China (Mainland)替换为China
df_qs['所处国家'] = df_qs['所处国家'].replace('Taiwan', 'China')
df_qs['所处国家'] = df_qs['所处国家'].replace('Hong Kong SAR', 'China')
df_qs['所处国家'] = df_qs['所处国家'].replace('Macau SAR', 'China')
df_qs['所处国家'] = df_qs['所处国家'].replace('China (Mainland)', 'China')

In [14]:
# 将所处国家的全称转换为ISO代码
def country_to_iso(country):
    try:
        return pycountry.countries.lookup(country).alpha_3
    except LookupError:
        return np.nan
    
df_qs['iso'] = df_qs['所处国家'].apply(country_to_iso)

df_qs

,排名,大学名称,详情链接,所处国家,综合得分,学术声誉,雇主声誉,师生比,每位教员引用率,国际教师占比,国际学生占比,国际研究网络,就业结果,可持续性,iso
0,1,麻省理工学院,https://www.qschina.cn/universities/massachuse...,United States,100,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2,USA
1,2,剑桥大学,https://www.qschina.cn/universities/university...,United Kingdom,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,GBR
2,3,牛津大学,https://www.qschina.cn/universities/university...,United Kingdom,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,GBR
3,4,哈佛大学,https://www.qschina.cn/universities/harvard-un...,United States,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,USA
4,5,斯坦福大学,https://www.qschina.cn/universities/stanford-u...,United States,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,975,新英格兰大学,https://www.qschina.cn/universities/university...,Australia,-,10.9,6.3,2.3,25.4,2.9,5.5,8.1,9.1,14.5,AUS
996,975,巴基斯坦白沙瓦大学,https://www.qschina.cn/universities/university...,Pakistan,-,6.0,9.0,36.0,17.4,NaN,2.0,3.7,5.9,1.2,PAK
997,975,首尔市立大学,https://www.qschina.cn/universities/university...,South Korea,-,12.1,10.0,37.2,8.2,3.2,5.8,1.3,9.2,1.4,KOR
998,975,西开普大学,https://www.qschina.cn/universities/university...,South Africa,-,8.4,7.8,4.2,15.1,26.4,4.0,40.5,11.7,4.9,ZAF
999,975,图卢兹第一大学,https://www.qschina.cn/universities/universite...,France,-,14.0,3.0,1.5,5.4,29.4,52.3,13.6,6.4,1.0,FRA

In [15]:
# 查找是否有缺失值
df_qs[df_qs['iso'].isnull()]['所处国家'].unique()

array(['Russia', 'Turkey', 'Brunei'], dtype=object)

In [16]:
# 把'Russia', 'Turkey', 'Brunei'分别填充为'RUS', 'TUR', 'BRN'
df_qs.loc[df_qs['所处国家'] == 'Russia', 'iso'] = 'RUS'
df_qs.loc[df_qs['所处国家'] == 'Turkey', 'iso'] = 'TUR'
df_qs.loc[df_qs['所处国家'] == 'Brunei', 'iso'] = 'BRN'

In [17]:
# 把‘所处国家”列的列名改为‘Country’
df_qs = df_qs.rename(columns={'所处国家': 'Country'})

In [18]:
df_iso_region = pd.read_csv('iso_countries_region.csv')
df_iso_region.head(5)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [19]:
# 将df_qs中新建一列，为region列，根据df_iso_region中的数据填充
df_qs['Region'] = df_qs['iso'].map(df_iso_region.set_index('alpha-3')['region'])
df_qs['Sub-region'] = df_qs['iso'].map(df_iso_region.set_index('alpha-3')['sub-region'])

In [20]:
df_qs.head()

,排名,大学名称,详情链接,Country,综合得分,学术声誉,雇主声誉,师生比,每位教员引用率,国际教师占比,国际学生占比,国际研究网络,就业结果,可持续性,iso,Region,Sub-region
0,1,麻省理工学院,https://www.qschina.cn/universities/massachuse...,United States,100,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2,USA,Americas,Northern America
1,2,剑桥大学,https://www.qschina.cn/universities/university...,United Kingdom,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,GBR,Europe,Northern Europe
2,3,牛津大学,https://www.qschina.cn/universities/university...,United Kingdom,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,GBR,Europe,Northern Europe
3,4,哈佛大学,https://www.qschina.cn/universities/harvard-un...,United States,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,USA,Americas,Northern America
4,5,斯坦福大学,https://www.qschina.cn/universities/stanford-u...,United States,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,USA,Americas,Northern America

In [21]:
# 导出数据
df_qs.to_excel('qs_ranking_iso.xlsx', index=False)